## Lambda functions

### Adding tax
Time to test out your lambda function skills!

In this exercise, you'll use a lambda function to add a tax of 20% to the cost of the sale_price variable.

In [1]:
sale_price = 29.99

# Define a lambda function called add_tax
add_tax = lambda x: x * 1.2

# Call the lambda function
print(add_tax(sale_price))

35.988

In [2]:
# Call a lambda function adding 20% to sale_price
print((lambda x: x * 1.2)(sale_price))

35.988

### Lambda functions with iterables
You've used lambda functions to perform actions on a single value; now it's time to test yourself on working with iterables.

You've been provided with a list called sales_prices containing sales prices for several items. Your goal is to use a lambda function to add tax (20%) to each value in the list.

In [3]:
sales_prices = [29.99, 9.95, 14.50, 39.75, 60.00]

# Create add_taxes to add 20% to each item in sales_prices
add_taxes = map(lambda x: x * 1.2, sales_prices)

# Use add_taxes to return a new list with updated values
print(list(add_taxes))

[35.988, 11.94, 17.4, 47.699999999999996, 72.0]

## Introduction to errors

### Debugging code
Developers will inevitably produce errors when writing code—this is completely normal! The ability to read error messages and debug or fix your code is a crucial skill when building or maintaining software.

In this exercise, you have been provided with code that produces errors and will need to identify the cause so that you can resolve these issues.

In [4]:
# Define the sales list
sales = [125.97, 84.32, 99.78, 154.21, 78.50, 83.67, 111.13]

# Print the sales list
print(sales)

[125.97, 84.32, 99.78, 154.21, 78.5, 83.67, 111.13]

## Error handling

In [ ]:
def average(values):
    try:
        # Code that might cause an error    
        average_value = sum(values) / len(values)
        return average_value
    except:
        # Code to run if an error occurs
        print("average() accepts a list or set. Please provide a correct data type.")
average(sales_dict)

### Avoiding errors
In the video, you saw a couple of approaches for error handling that can be applied to custom functions.

In this exercise, you'll test out one of the approaches that avoids raising an error, printing a helpful message if an error occurs, but not terminating the script.

In [5]:
def snake_case(text):
  # Attempt to clean the text
  try:
    # Swap spaces for underscores
    clean_text = text.replace("", "_")
    clean_text = clean_text.lower()
  # Run this code if an error occurs
  except:
    print("The snake_case() function expects a string as an argument, please check the data type provided.")
    
snake_case("User Name 187")

### Returning errors
Time to try out the other approach for error handling.

Revise the snake_case() function to intentionally produce an error if an incorrect data type is used.

In [6]:
def snake_case(text):
  # Check the data type
  if type(text) == str:
    clean_text = text.replace(" ", "_")
    clean_text = clean_text.lower()
  else:
    # Return a TypeError error if the wrong data type was used
    raise TypeError("The snake_case() function expects a string as an argument, please check the data type provided.")
    
snake_case("User Name 187")