# Introduction to relational databases

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### What is a relational database?
- Based on relational model of data
- First described by Edgar “Ted” Codd

#### Relational model
- Widely adopted
- Codd’s 12 Rules/Commandments\
Consists of 13 rules (zero-indexed!)\
Describes what a Relational Database Management System should adhere to to be considered relational

#### Relational Database Management Systems
- PostgreSQL
- MySQL
- SQLite
- SQL Structured Query Language

In [ ]:
from sqlalchemy import create_engine, inspect

engine = create_engine('your_database_url')

inspector = inspect(engine)
table_names = inspector.get_table_names()
print(table_names)

# For views:
view_names = inspector.get_view_names()
print(view_names)

# For all table and view names:
all_names = inspector.get_table_names() + inspector.get_view_names()
print(all_names)

#### Explanation:

SQLAlchemy has moved away from directly accessing table names via the engine object.  The inspect module provides a more robust and flexible way to get metadata about your database, including table names, column information, indexes, and more.

- inspect(engine): This creates an inspector object associated with your engine.
- inspector.get_table_names(): This method returns a list of all table names in the database.
- inspector.get_view_names(): This method returns a list of all view names in the database.
- inspector.get_schema_names(): This method returns a list of all schema names in the database. This is useful if you are working with a database that supports schemas (like PostgreSQL or SQL Server).\
Other inspector methods: The inspect object has many other useful methods. Refer to the SQLAlchemy documentation for the full list.

#### Example with Schema (if applicable):

If you're using schemas (e.g., PostgreSQL), you might need to specify the schema:

In [ ]:
from sqlalchemy import create_engine, inspect

engine = create_engine('your_database_url')
inspector = inspect(engine)

schema_name = 'your_schema_name'  # Replace with your schema name
table_names = inspector.get_table_names(schema=schema_name)
print(table_names)

# For all schemas
schemas = inspector.get_schema_names()
for schema in schemas:
    tables = inspector.get_table_names(schema=schema)
    print(f"Schema: {schema}, Tables: {tables}")

#### Key Improvements of inspect:

More comprehensive: inspect provides access to much more database metadata than just table names.
More robust: It's less likely to break due to changes in SQLAlchemy's internal implementation.
Handles schemas: It correctly handles databases with schemas.
Upgrade SQLAlchemy (if needed):

Make sure you have a reasonably up-to-date version of SQLAlchemy.  If you're on a very old version (pre-1.4), upgrading is highly recommended.  You can upgrade using pip:

# Creating a database engine in Python

#### Creating a database engine
- SQLite database\
Fast and simple
- SQLAlchemy\
Works with many Relational Database Management Systems

In [4]:
from sqlalchemy import create_engine, inspect
engine = create_engine('sqlite:///Northwind.sqlite')

#### Getting table names

In [5]:
inspector = inspect(engine)
table_names = inspector.get_table_names()
print(table_names)

['Categories', 'CustomerCustomerDemo', 'CustomerDemographics', 'Customers', 'EmployeeTerritories', 'Employees', 'Order Details', 'Orders', 'Products', 'Regions', 'Shippers', 'Suppliers', 'Territories']

In [6]:
# For views:
view_names = inspector.get_view_names()
print(view_names)

['Alphabetical list of products', 'Category Sales for 1997', 'Current Product List', 'Customer and Suppliers by City', 'Invoices', 'Order Details Extended', 'Order Subtotals', 'Orders Qry', 'Product Sales for 1997', 'ProductDetails_V', 'Products Above Average Price', 'Products by Category', 'Quarterly Orders', 'Sales Totals by Amount', 'Sales by Category', 'Summary of Sales by Quarter', 'Summary of Sales by Year']

In [7]:
# For all table and view names:
all_names = inspector.get_table_names() + inspector.get_view_names()
print(all_names)

['Categories', 'CustomerCustomerDemo', 'CustomerDemographics', 'Customers', 'EmployeeTerritories', 'Employees', 'Order Details', 'Orders', 'Products', 'Regions', 'Shippers', 'Suppliers', 'Territories', 'Alphabetical list of products', 'Category Sales for 1997', 'Current Product List', 'Customer and Suppliers by City', 'Invoices', 'Order Details Extended', 'Order Subtotals', 'Orders Qry', 'Product Sales for 1997', 'ProductDetails_V', 'Products Above Average Price', 'Products by Category', 'Quarterly Orders', 'Sales Totals by Amount', 'Sales by Category', 'Summary of Sales by Quarter', 'Summary of Sales by Year']

## Creating a database engine
Here, you're going to fire up your very first SQL engine. You'll create an engine to connect to the SQLite database 'Chinook.sqlite', which is in your working directory. Remember that to create an engine to connect to 'Northwind.sqlite', Hugo executed the command

engine = create_engine('sqlite:///Northwind.sqlite')
Here, 'sqlite:///Northwind.sqlite' is called the connection string to the SQLite database Northwind.sqlite. A little bit of background on the Chinook database: the Chinook database contains information about a semi-fictional digital media store in which media data is real and customer, employee and sales data has been manually created.

Why the name Chinook, you ask? According to their website,

The name of this sample database was based on the Northwind database. Chinooks are winds in the interior West of North America, where the Canadian Prairies and Great Plains meet various mountain ranges. Chinooks are most prevalent over southern Alberta in Canada. Chinook is a good name choice for a database that intends to be an alternative to Northwind.

In [8]:
# Import necessary module
from sqlalchemy import create_engine, inspect

# Create engine: engine
engine = create_engine('sqlite:///Northwind.sqlite')

# Save the table names to a list: table_names
inspector = inspect(engine)
table_names = inspector.get_table_names()

# Print the table names to the shell
print(table_names)

['Categories', 'CustomerCustomerDemo', 'CustomerDemographics', 'Customers', 'EmployeeTerritories', 'Employees', 'Order Details', 'Orders', 'Products', 'Regions', 'Shippers', 'Suppliers', 'Territories']

# Querying relational databases in Python

#### Basic SQL query 
SELECT * FROM Table_Name
- Returns all columns of all rows of the table

Example:\
SELECT * FROM Orders 
- We’ll use SQLAlchemy and pandas

#### Workflow of SQL querying
- Import packages and functions
- Create the database engine
- Connect to the engine
- Query the database
- Save query results to a DataFrame
- Close the connection

## Your first SQL query

In [12]:
from sqlalchemy import create_engine, inspect
import pandas as pd
engine = create_engine('sqlite:///Northwind.sqlite')
con = engine.connect()
rs = con.execute("SELECT * FROM Categories")
df = pd.DataFrame(rs.fetchall())
con.close()

_IncompleteInputError: incomplete input (1822548742.py, line 7)

#### Printing your query results

In [ ]:
display(df.head())

## Set the DataFrame column names

In [14]:
engine = create_engine('sqlite:///Northwind.sqlite')
con = engine.connect()
rs = con.execute("SELECT * FROM CustomerID")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()

_IncompleteInputError: incomplete input (3200141926.py, line 6)

In [ ]:
print(df.head())

### Using the context manager

In [16]:
with engine.connect() as con:  
    rs = con.execute("SELECT OrderID, OrderDate, ShipName FROM Orders") 
    df = pd.DataFrame(rs.fetchmany(size=5)) 
    df.columns = rs.keys()

_IncompleteInputError: incomplete input (379443062.py, line 4)

## The Hello World of SQL Queries!
Now, it's time for liftoff! In this exercise, you'll perform the Hello World of SQL queries, SELECT, in order to retrieve all columns of the table Album in the Chinook database. Recall that the query SELECT * selects all columns.

In [ ]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Northwind.sqlite')

# Open engine connection: con
con = engine.connect()

# Perform query: rs
rs = con.execute("SELECT * FROM Album")

# Save results of the query to DataFrame: df
df = pd.DataFrame(rs.fetchall())

# Close connection
con.close()

# Print head of DataFrame df
print(df.head())

## Customizing the Hello World of SQL Queries
Congratulations on executing your first SQL query! Now you're going to figure out how to customize your query in order to:

Select specified columns from a table;\
Select a specified number of rows;\
Import column names from the database table.\
Recall that Hugo performed a very similar query customization in the video:

engine = create_engine('sqlite:///Northwind.sqlite')

with engine.connect() as con:\
    rs = con.execute("SELECT OrderID, OrderDate, ShipName FROM Orders")\
    df = pd.DataFrame(rs.fetchmany(size=5))\
    df.columns = rs.keys()\
Packages have already been imported as follows:

from sqlalchemy import create_engine\
import pandas as pd\
The engine has also already been created:

engine = create_engine('sqlite:///Chinook.sqlite')\
The engine connection is already open with the statement

with engine.connect() as con:

In [ ]:
# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute('SELECT LastName, Title FROM Employee')
    df = pd.DataFrame(rs.fetchmany(size=3))
    df.columns = rs.keys()

# Print the length of the DataFrame df
print(len(df))

# Print the head of the DataFrame df
print(df.head())

## Filtering your database records using SQL's WHERE
You can now execute a basic SQL query to select records from any table in your database and you can also perform simple query customizations to select particular columns and numbers of rows.

There are a couple more standard SQL query chops that will aid you in your journey to becoming an SQL ninja.

Let's say, for example that you wanted to get all records from the Customer table of the Chinook database for which the Country is 'Canada'. You can do this very easily in SQL using a SELECT statement followed by a WHERE clause as follows:

SELECT * FROM Customer WHERE Country = 'Canada'\
In fact, you can filter any SELECT statement by any condition using a WHERE clause. This is called filtering your records.

In this interactive exercise, you'll select all records of the Employee table for which 'EmployeeId' is greater than or equal to 6.

Packages are already imported as follows:

import pandas as pd
from sqlalchemy import create_engine
Query away!

In [ ]:
# Create engine: engine
engine = create_engine('sqlite:///Northwind.sqlite')

# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute('SELECT * FROM Employee WHERE EmployeeId >= 6')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print the head of the DataFrame df
print(df.head())

## Ordering your SQL records with ORDER BY
You can also order your SQL query results. For example, if you wanted to get all records from the Customer table of the Chinook database and order them in increasing order by the column SupportRepId, you could do so with the following query:

"SELECT * FROM Customer ORDER BY SupportRepId"
In fact, you can order any SELECT statement by any column.

In this interactive exercise, you'll select all records of the Employee table and order them in increasing order by the column BirthDate.

Packages are already imported as follows:

import pandas as pd
from sqlalchemy import create_engine
Get querying!

In [ ]:
# Create engine: engine
engine = create_engine('sqlite:///Northwind.sqlite')

# Open engine in context manager
with engine.connect() as con:
    rs = con.execute('SELECT * FROM Employee ORDER BY BirthDate ASC')
    df = pd.DataFrame(rs.fetchall())

    # Set the DataFrame's column names
df.columns = rs.keys()

# Print head of DataFrame
print(df.head())

# Querying relational databases directly with pandas

#### The pandas way to query

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('sqlite:///Northwind.sqlite')
with engine.connect() as con: 
    rs = con.execute("SELECT * FROM Orders")  
    df = pd.DataFrame(rs.fetchall())  
    df.columns = rs.keys()
    
df = pd.read_sql_query("SELECT * FROM Orders", engine)

### Pandas and The Hello World of SQL Queries!
Here, you'll take advantage of the power of pandas to write the results of your SQL query to a DataFrame in one swift line of Python code!

You'll first import pandas and create the SQLite 'Chinook.sqlite' engine. Then you'll query the database to select all records from the Album table.

Recall that to select all records from the Orders table in the Northwind database, Hugo executed the following command:

In [ ]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Northwind.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query('SELECT * FROM Album', engine)

# Print head of DataFrame
print(df.head())

# Open engine in context manager and store query result in df1
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Album")
    df1 = pd.DataFrame(rs.fetchall())
    df1.columns = rs.keys()

# Confirm that both methods yield the same result
print(df.equals(df1))

### Pandas for more complex querying
Here, you'll become more familiar with the pandas function read_sql_query() by using it to execute a more complex query: a SELECT statement followed by both a WHERE clause AND an ORDER BY clause.

You'll build a DataFrame that contains the rows of the Employee table for which the EmployeeId is greater than or equal to 6 and you'll order these entries by BirthDate.

In [ ]:
# Create engine: engine
engine = create_engine('sqlite:///Northwind.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query('SELECT * FROM Employee WHERE EmployeeId >= 6 ORDER BY BirthDate', engine)

# Print head of DataFrame
print(df.head())

## Advanced querying: exploiting table relationships

#### Table are linked

#### INNER JOIN in Python (pandas)

In [3]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('sqlite:///Northwind.sqlite')
df = pd.read_sql_query("SELECT OrderID, CompanyName FROM Orders INNER JOIN Customers on Orders.CustomerID = Customers.CustomerID", engine)
display(df.head())

   OrderID                CompanyName
0    10248  Vins et alcools Chevalier
1    10249         Toms Spezialitäten
2    10250              Hanari Carnes
3    10251       Victuailles en stock
4    10252           Suprêmes délices

## The power of SQL lies in relationships between tables: INNER JOIN
Here, you'll perform your first INNER JOIN! You'll be working with your favourite SQLite database, Chinook.sqlite. For each record in the Album table, you'll extract the Title along with the Name of the Artist. The latter will come from the Artist table and so you will need to INNER JOIN these two tables on the ArtistID column of both.

Recall that to INNER JOIN the Orders and Customers tables from the Northwind database, Hugo executed the following SQL query:

"SELECT OrderID, CompanyName FROM Orders INNER JOIN Customers on Orders.CustomerID = Customers.CustomerID"
The following code has already been executed to import the necessary packages and to create the engine

In [ ]:
# Open engine in context manager
engine = create_engine('sqlite:///Northwind.sqlite')
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute('SELECT Title, Name FROM Album INNER JOIN Artist ON Album.ArtistID = Artist.ArtistID',con) 
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print head of DataFrame df
print(df.head())

## Filtering your INNER JOIN
Congrats on performing your first INNER JOIN! You're now going to finish this chapter with one final exercise in which you perform an INNER JOIN and filter the result using a WHERE clause.

Recall that to INNER JOIN the Orders and Customers tables from the Northwind database, Hugo executed the following SQL query:

In [ ]:
engine = create_engine('sqlite:///Northwind.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query('SELECT * FROM PlayListTrack INNER JOIN Track ON PlaylistTrack.TrackId = Track.TrackId WHERE Milliseconds < 250000', engine)

# Print head of DataFrame
print(df.head())

## Final Thoughts

#### What you’ve learned:
- Relational databases
- Queries\
SELECT\
WHERE\
JOIN

## Next course:
- Scrape data from the web
- Interact with APIs